@import "tailwindcss";

@theme {
  --breakpoint-2xl: 1440px;
}

@font-face {
  font-family: "Inter";
  src: url("./Fonts/Inter/Inter-VariableFont_opsz,wght.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src: url("./Fonts/Inter/Inter-Italic-VariableFont_opsz,wght.ttf")
    format("truetype");
  font-weight: 100 900;
  font-style: italic;
}

body {
  font-family: "Inter", sans-serif;
}
